body {
    padding-top: 55px;
}

a:hover {
    text-decoration: none!important;
}

/* CSS used here will be applied after bootstrap.css */
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 3px!important;
    -webkit-border-top-right-radius: 3px!important;
    -moz-border-radius-topleft: 3px!important;
    -moz-border-radius-topright: 3px!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}
.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 3px!important;
    -webkit-border-top-right-radius: 3px!important;
    -moz-border-radius-topleft: 3px!important;
    -moz-border-radius-topright: 3px!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 3px!important;
    -webkit-border-top-right-radius: 3px!important;
    -moz-border-radius-topleft: 3px!important;
    -moz-border-radius-topright: 3px!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 3px!important;
    -webkit-border-top-right-radius: 3px!important;
    -moz-border-radius-topleft: 3px!important;
    -moz-border-radius-topright: 3px!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}

.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "\25B6";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

.indent-lg {
    margin-left: 2.5rem;
}

.neg-indent-lg {
    margin-left: -1.25rem;
}

.drag-icon:hover{
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.nav-tabs .nav-link.active {
    color: #007bff!important;
}

.nav-tabs .nav-link {
    color: #343a40!important;
}

.marginLogo {
    margin-left: 9rem;
}